.header-BodyBNew2 {
    background-color: #fffde6;

    .header-BodyBNew2-title {
        color: black;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;

    }

    .header-BodyBNew2-img {
        height: 200px;
        width: 400px;
        border-radius: 20px;
    }

    .header-BodyBNew2-cardPostView-tabInfo {
        display: flex;
        gap: 5px;
        font-size: 14px;
        color: #000;
    }
}